.gallery-slider {
    position: relative;
    margin: 0 auto;
    width: 100%;
}

.gallery-slider-container {
    display: flex;
    aspect-ratio: 16/9;
}

.gallery-slider-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 1.5s ease-in-out;
    box-shadow: 0 1.5rem 3rem -0.75rem hsla(0, 0%, 0%, 0.25);
}

/*------------------------- Slider Location -------------------------*/
.gallery-slider-nav {
    display: flex;
    position: absolute;
    bottom: 15px;
    left: 50%;

    column-gap: 1rem;
    transform: translateX(-50%);
    z-index: 1;
}

.gallery-slider-nav a {
    border-radius: 50%;
    width: 10px;
    height: 10px;

    background-color: #fff;
    opacity: 0.75;
    transition: opacity ease 0.5s;
    cursor: pointer;
}

.gallery-slider-nav a.active {
    opacity: 1 !important;
}

@media (max-width: 640px) {
    .gallery-slider-nav a {
        width: 6px;
        height: 6px;
    }
}