.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url("../../assets/profile.png");
    background-position: center;
    background-size: 100% 150%;
    background-repeat: no-repeat;
    background-color: #141942;
}

.home-title {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    font-family: "Audiowide", serif;
    text-align: end;
}

.home-title h1 {
    position: relative;
    width: 90%;
    color: #FFFFFF;
    font-size: 6.4rem;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    paint-order: stroke fill;
    -webkit-text-stroke: 10px black;
}

.home-name-small {
    display: none;
}

.home-title p {
    color: #FFE228;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 5px;
    paint-order: stroke fill;
    -webkit-text-stroke: 10px black;
}

.home-midia-links {
    display: flex;
    gap: 5px;
    margin: 10px;
}

.home-midia-links a svg {
    width: 35px;
    height: 35px;
    fill: #FFFFFF;
}

@media screen and (max-width: 1536px) {
    .home-title h1 {
        font-size: 4.8rem;
    }

    .home-title p {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 1280px) {
    .home-title h1 {
        font-size: 3.2rem;
        letter-spacing: 2px;
        -webkit-text-stroke: 5px black;
    }

    .home-title p {
        font-size: 1.6rem;
        letter-spacing: 2px;
        -webkit-text-stroke: 5px black;
    }

    .home-midia-links a svg {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .home-name-small {
        display: inline-block;
    }

    .home-name-full {
        display: none;
    }
}