.home-page {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background: linear-gradient(150deg, rgba(69, 80, 91, 1) 0%, rgba(50, 21, 126, 1) 100%);
}

.home-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image: url("../../assets/profile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.home-title {
    display: flex;
    flex-direction: column;
    padding: 0 10%;
    width: 100%;
    font-family: "Raleway", serif;
}

.home-title h1 {
    color: #FFFFFF;
    font-size: 6.4rem;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform: uppercase;
    paint-order: stroke fill;
    -webkit-text-stroke: 8px black;
}

.home-name-small {
    display: none;
}

.home-title p {
    color: #FFE228;
    font-size: 3.2rem;
    font-weight: 500;
    letter-spacing: 5px;
    paint-order: stroke fill;
    -webkit-text-stroke: 7px black;
}

.home-midia-links {
    display: flex;
    gap: 5px;
    margin: 10px;
}

.home-midia-links a svg {
    width: 35px;
    height: 35px;
    fill: #FFFFFF;
}

@media screen and (max-width: 1536px) {
    .home-title h1 {
        font-size: 4.8rem;
    }

    .home-title p {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: 1280px) {
    .home-title h1 {
        font-size: 3.2rem;
        letter-spacing: 2px;
        -webkit-text-stroke: 5px black;
    }

    .home-title p {
        font-size: 1.6rem;
        letter-spacing: 2px;
        -webkit-text-stroke: 5px black;
    }

    .home-midia-links a svg {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 768px) {
    .home-name-small {
        display: inline-block;
    }

    .home-name-full {
        display: none;
    }
}