.pages-layout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    color: var(--blue);
}

.pages-section {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
}

.page-screen {
    padding: 40px 80px;
    min-height: 100%;
    width: 100%;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

@media screen and (max-width: 1024px) {
    .page-screen {
        padding: 40px 20px;
    }
}