.layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200vh;
    overflow-y: visible;
}

.page-padding {
    padding: 40px 8%;
}

@media screen and (max-width: 1024px) {
    .page-padding {
        padding: 40px 20px;
    }
}