.navbar-container {
    position: absolute;
    top: 38%;
    left: 0;
    display: flex;
    flex-direction: column;
    border-radius: 0px 12px 12px 0px;
    border-top: 15px solid #000000;
    border-bottom: 15px solid #000000;
    width: 50px;
    background-color: #000000;
    z-index: 99;
}

.navbar-link-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar-link svg {
    height: 25px;
    width: 25px;
    color: whitesmoke;
}

.navbar-link svg:hover,
.navbar-link svg:focus,
.navbar-link.active svg {
    color: yellow;
    scale: 1.05;
}