.navbar-container {
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 60px;
}

.navbar-link-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar-link svg {
    height: 35px;
    width: 35px;
    color: whitesmoke;
}

.navbar-link svg:hover,
.navbar-link svg:focus,
.navbar-link.active svg {
    color: yellow;
    scale: 1.05;
}

@media screen and (max-width: 1280px) {
    .navbar-container {
        width: 40px;
    }

    .navbar-link-container ul {
        gap: 10px;
    }


    .navbar-link svg {
        width: 25px;
        height: 25px;
    }
}