.navbar-container {
    position: absolute;
    top: 40%;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 60px;
    z-index: 99;
}

.navbar-link-container ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.navbar-link svg {
    height: 25px;
    width: 25px;
    color: whitesmoke;
}

.navbar-link svg:hover,
.navbar-link svg:focus,
.navbar-link.active svg {
    color: yellow;
    scale: 1.05;
}