@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --anti-flash-white: #F2F3F4;
  --gray: #808080;
  --jet: #2B2B2A;
  --night: #12130F;
  --royal-blue: #305CDE;
  --white: #FFFEFE;
  --poppy: #df3e3e;
  --gun-metal: #2B3137;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
  margin: 0;
  text-decoration: none;
  /* list-style: none; */
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.no-select {
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
}